.header-style {
  z-index: 10;
  background-color: var(--header-color);
}

.header-title {
  text-decoration: none;
  font-size: 25px;
  color: var(--header-title);
}

.link-style a {
  text-decoration: none;
  color: var(--header-title);
  font-size: 18px;
  margin-right: 20px;
}

.link-style a:hover {
  color: firebrick;
}

.theme-btn {
  border: none;
  outline: none;
  margin-left: 10px;
}

@media screen and (max-width: 680px) {
  .header-title {
    font-size: 20px;
    letter-spacing: 0px;
  }
}
