.blog-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 40px;
}

.blog-page div {
    margin: 15px;
    border: 2px solid rgb(233, 227, 227);
    padding: 15px;
    background-color: rgb(216, 212, 212);
    border-radius: 8px;
}

.blog-page h2 {
    font-size: 22px;
}

.blog-page p {
    font-size: 18px;
}


@media screen and (max-width: 680px) {
    .blog-page {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 20px;
    }
}