.header-style{
    z-index: 10;
    background-color: rgb(236, 230, 230);
}

.header-title{
    text-decoration: none;
    font-size: 25px;
    color: black
}

.link-style a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-right: 20px;
}

.link-style a:hover{
    color: firebrick;
}

.theme-btn{
    border: none;
    outline: none;
    margin-left: 10px;
}